<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%-include('../partials/nav') %>

    <%-include('../partials/header') %>

    <main class="listaCat">
        <h2>Categorias</h2> 
        <ul class="listaCat">
            <li><a class="catUno" href="/categorias/biologia">Biología</a></li>
            <li><a class="catUno" href="/categorias/historia">Historía</a></li>
            <li><a class="catUno" href="/categorias/quimica">Quimica</a></li>
            <li><a class="catUno" href="/categorias/fisica">Fisica</a></li>
            <li><a class="catUno" href="/categorias/matematicas">Matematicas</a></li>
            <li><a class="catUno" href="/categorias/programacion">Programacion</a></li>
            <li><a class="catUno" href="/categorias/robotica">Robotica</a></li>
            <li><a class="catUno" href="/categorias/industrial">Industrial</a></li>
        </ul>
    </main>
    <section class="cuerpoSecundario">
        <h4>Topico de la semana: Biología</h4>
        <div class="cajaSc">
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
        </div>
        <h4>Ultimas Noticias</h4>
        <div class="cajaSc">
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
            <div class="noticiaSc">
                <h5><a>Nombre-noticia</a></h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo libero molestias rerum! Ex facere accusamus illum temporibus iure iusto fugiat a dolor sit assumenda aperiam tenetur eum, laudantium perspiciatis rem!</p>
            </div>
        </div>
    </section>
    
    <%-include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>