a{
    text-decoration: none;
    color: black;
}
body{
    color: black;
}
/*Barra superior, usando bootstrap*/
nav{
    background-color: rgb(163, 222, 230);
    border-bottom: 2px outset black;
}
.logo1{
    width: 30px;
    height: 30px;
}
.nombreMarca{
    font-family: "Georgia", serif, inherit;
}
/*Cabecera, con descripcion acotada y login links*/
header{
    display: flex;
    height: 75px;
    background-color: rgb(163, 222, 230);
    flex-direction: row;
    align-items: center;
}
.divCabeza{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px;
    flex-grow: 5;
}
.divCabLogIn{
    flex-grow: 1;
}
.listaCab{
    list-style: none;
    font-size: 15px;
    justify-content: center;
}
h1{
    font-size: 30px;
}
.subTexto{
    font-size: 15px;
}
@media (max-width:768px) {
    h1{
        font-size: 27.5px;
    }
    .subTexto{
        font-size: 12.5px;
    }
}
@media (max-width:320px) {
    h1{
        font-size: 25px;
    }
    .subTexto{
        font-size: 10px;
    }   
}
.logo2{
    width: 75px;
    height: 75px;
    position: sticky;
}
/*Cuerpo Principal, usando grid, con adaptación por tamaño de pantalla, idealmente preparar para que puedaser adaptado dinamicamente*/
.cuerpoNoticias{
    display: grid;
    height: 500px;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
}
.cajaPr{
    background-color: cadetblue;
    border: 5px double black;
}
@media (max-width:768px) {
    .cuerpoNoticias{
        height: fit-content;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
    }    
}
@media (max-width:320px) {
    .cuerpoNoticias{
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/1fr ;
        height: fit-content;
    }    
}
/*Cuerpo Secundario, si es necesario, para? noticias varias? o grupos de noticias por categoria*/
.cuerpoSecundario{
    margin-top: 15px;
}
.cajaSc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.noticiaSc{
    width: 33%;
}
@media (max-width:768px) {
    .noticiaSc{
        width: fit-content;
    }
    .cajaSc{
        justify-content: left;
    }
}
/*Barra Inferior, contiene informacion de contacto y legal segun necesario, usando flexbox*/
footer{
    position: sticky;
    display: flex;
    background-color: rgb(163, 222, 230);
    padding: 5px;
    flex-direction: column;
}
.listaInf{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.textoLegal{
    font-size: 10px;
}
/*Lista de categorias*/
.listaCat{
    list-style: none;
}
.catUno{
    color: black;
}
/*listado de noticias por categoria*/
.cuerpoNoticiasCat{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.cajaScCat{
    width: 100%;
}
/*Registro e Inicio de sesion*/
.cuerpoForm{
    display: flex;
    background-color: lightgray;
    flex-flow: column wrap;
    align-items: center;
    padding: 15px;
}
.tituloForm{
    font-size: 35px;
    justify-self: center;
    size: fit-content;
}
.formBox{
    padding: 10px;
    min-width: 33%;
    max-width: 600px ;
    border: black double 5px;
    background-color: cadetblue;
}
.item-form{
    padding: 10px;
}
.form-label{
    font-size: 25px;
}
.form-control{
    padding: 10px;
    max-width: 500px;
}
.checkbox-control{
    width: 15px;
}
.botonSubmitUsuario{
    background-color: rgb(119, 63, 175);
    border: black 3px double ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 17.5px;
}