<footer>
    <ul class="listaInf">
        <li>Facebook</li>
        <li>Tweeter</li>
        <li>Instagram</li>
        <li>Dirección</li>
        <li>Telefono/s</li>
        <li>Email/s</li>
    </ul>
    
    <div>
        <p class="textoLegal">Aclaraciones varias, y cuestiones legales que supongo serian necesarias</p>
    </div>
</footer>