<header>
    <a href="/"><img src="/images/Rose.jpg" else="Logo" class="logo2"></a>
    <div class="divCabeza">
        <h1 class="nombreMarca"><a href="/">La Gazeta</a></h1>
        <p class="subTexto">El presente y futuro, a su disposición</p>
    </div>
    <div class="divCabeza divCabLogIn">
        <ul class="listaCab">
            <li >
                <a class="subTexto" href="">Iniciar Sesión</a>
            </li>
            <li >
                <a class="subTexto" href="/registrate">Registrarse</a>
            </li>
        </ul>
    </div>
</header>